@charset "utf-8";
/* CSS Document */

#Principal
{
position:absolute; left: 0; top: 0; width:100%;	
}
#Pantalla
{
float:left; width:100%; height:25%; background:#FAC;	
}

#Teclado
{
float:left; width:100%; height:70%; background:#F00;	
}
.nota
{
float:left; height:90%; position:relative; outline:#F00 solid 1px; width:14.28571428571429%; background:#C9C9C9
}
.tecnote
{
position:relative; top: 80%; text-align:center; font-size: 2em; font-weight: bold; font-family:Tahoma, Geneva, sans-serif;
}
.tocada
{
color:#F00; background:#c31b5e; outline: 1px solid #680b30;
}